* {
	border: 0;
	padding: 0;
	margin: 0;
}
img {
	object-fit: cover;
	object-position: center;
	width: 300px;
	height: 300px;
}
body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
h3 {
	margin-bottom: 1rem;
}
.grid {
	display: flex;
	flex-flow: wrap;
	width: 1213px;
	gap: 4px;
}
