$box: 20vh;

$primary: rgb(95, 158, 160);
$drkprimary: darken($primary, 20%);

$trans: .2s ease-in;
* {
	border: 0;
	padding: 0;
	margin: 0;
}
h3 {
	font-size: 2.5rem;
	margin-bottom: .25em;
}
img {
	object-fit: cover;
	object-position: center;
	width: $box;
	height: $box;
	cursor: pointer;
	transition: opacity $trans, transform $trans, box-shadow $trans;
	&:hover {
		box-shadow: 0px 5px 5px -2px rgb(0 0 0 / 30%);
		transform: translateY(-.4vh);
	}
	&[src= 'images/annie-spratt-xz485Eku8O4-unsplash.jpg'] {
		opacity: .8;
		&:hover {
			opacity: 1;
		}
	}
}
body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.grid {
	display: flex;
	flex-flow: wrap;
	width: 81.5vh;
	gap: .5vh;
}
.disabled {
	cursor: not-allowed;
}
#reset {
	background-color: $primary;
	padding: .5em 2em;
	margin-bottom: 1rem;
	border-radius: 1em;
	color: white;
	text-transform: uppercase;
	transition: background-color $trans;
	&:hover {
		background-color: $drkprimary;
		cursor: pointer;
	}
}
